@model SistemaViajes.Models.Empleado

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow border-0">
                <div class="card-header bg-primary text-white">
                    <h5 class="mb-0"><i class="bi bi-person-plus-fill"></i> Registrar Nuevo Colaborador</h5>
                </div>
                <div class="card-body p-4">
                    <form asp-action="Crear">
                        <div class="mb-3">
                            <label class="form-label fw-bold">Número de Cédula</label>
                            <input asp-for="Cedula" class="form-control" placeholder="Ej: 1-1234-5678" required />
                        </div>

                        <div class="mb-3">
                            <label class="form-label fw-bold">Nombre Completo</label>
                            <input asp-for="NombreCompleto" class="form-control" placeholder="Nombre y Apellidos" required />
                        </div>

                        <div class="mb-3">
                            <label class="form-label fw-bold">Asignar Rol (Puesto)</label>
                            <select asp-for="FkRol" class="form-select" asp-items="ViewBag.Roles">
                                <option value="">-- Seleccione un puesto --</option>
                            </select>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="form-label fw-bold">Nombre de Usuario</label>
                                <input type="text" name="NombreUsuario" class="form-control" placeholder="Ej: nestor01" />
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label fw-bold">Contraseña</label>
                                <input type="password" name="Clave" class="form-control" placeholder="****" />
                            </div>
                        </div>


                        <div class="mb-3 form-check form-switch">
                            <input asp-for="Activo" class="form-check-input" type="checkbox" checked>
                            <label class="form-check-label">Empleado se encuentra Activo</label>
                        </div>

                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary shadow-sm">Guardar Empleado</button>
                            <a asp-action="Index" class="btn btn-light border">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>